<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="CommonUtility.TestListeners" />
	</listeners>

  <test name="KMBAutomationTest">
  		<classes>
			<class name="TestSripts.runTest" />
		</classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
